{% extends "base.html.twig" %}
{% block body %}
{{ parent() }}
{% if app.user.apikey %}    
    Votre API KEY : {{ app.user.apikey }}
{% else %}
    <button onclick="getAPI()">GET API</button>
    <div id="result"></div>
{% endif %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function getAPI(){
            fetch("{{ path('getAPIKey') }}").then(function(response){
                    return response.json()
                 })
                .then(function(data){
                    console.log(data)
                    let div = document.createElement("div",{class : "alert alert-success"})
                    div.innerText = "Votre clé d'API est : "+ data.APIKey;
                    document.getElementById("result").append(div)
                })
        }
        
    </script>
{% endblock %}

