{% extends "base.html.twig" %}
{% block title %}
MusiqueDB-SGB
{% endblock %}



{% block body %}

    {% if app.user %}
        <div class="row justify-content-center">
            <div class="btn-group mt-3 col-3" role="group" aria-label="Basic example">
                <a href="{{ path('musique_index') }}" class="btn btn-secondary">Musique</a>
                <a href="{{ path('artiste_index') }}" class="btn btn-secondary">Artiste</a>
                <a href="{{ path('categorie_index') }}" class="btn btn-secondary">Catégorie</a>
                <a href="{{ path('album_index') }}" class="btn btn-secondary">Album</a>
            </div>
        </div>
    {% endif %}
    
{% endblock %}