{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Modifier la catégorie</h1>

        {{ include('categorie/_form.html.twig', {'button_label': 'Mise à jour'}) }}
        {{ include('categorie/_delete_form.html.twig') }}

        <a class="btn btn-info" href="{{ path('categorie_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
